@import url('animation.css');
@import url('variables.css');
@import url('parallax.css');
@import url('navigation.css');
@import url('text.css');
@import url('modal.css');
@import url('footer.css');
@import url('experince.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'AileronRegular', sans-serif;
  color: var(--white);
  text-rendering: optimizeLegibility;
  font-size: 62.5%;
}

#wrapper {
  width: 100%;
  height: auto;
}

#about {
  padding-top: 20rem;
  background: var(--secondar-color);
}

#about p {
  color: var(--text-color);
}

#skills p,
#skills h2 {
  color: var(--black);
}

.skills-container ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  text-align: center;
  align-items: baseline;
  justify-content: center;
}

.skills-container ul li {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  padding: 1.4rem;
  color: var(--black);
  font-size: var(--text-size);
}

.skills-container ul li .skills-icon {
  font-size: 6rem;
  margin-bottom: 1rem;
  color: var(--secondar-color);
}

.skills-container ul li .image {
  height: 6rem;
  width: 6rem;
  margin-bottom: 1.6rem;
  margin-right: auto;
  margin-left: auto;
}

#projects {
  background-color: #eee;
}
#projects h2 {
  color: var(--black);
}

#projects-container {
  padding: 3rem;
}

.projects-card {
  max-width: 139.8rem;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.card {
  height: 25rem;
  width: 30%;
  margin: 0.5rem;
  overflow: hidden;
}
.card figure img {
  height: 30rem;
  width: 100%;
}

.arrow {
  position: absolute;
  text-align: center;
  font-size: 6rem;
  right: 50%;
}

#header-arrow {
  bottom: 5%;
}

#footer-arrow {
  top: 6%;
}

#profile {
  background-image: url('../media/Siddant-11.jpg');
  background-repeat: no-repeat;
  background-size: 30rem, auto, contain;
  background-position: center top;
  height: 30rem;
  width: auto;
}

.section {
  min-height: 100vh;
}

.section ~ .section {
  padding-top: 7rem;
}

.section:last-child {
  min-height: 70vh;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 1000px) {
  .projects-card {
    max-width: 100%;
  }

  .card {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .card {
    width: 100%;
    height: 25rem;
  }
}
