$full-screen: 100vh;
$primary-color: #522E75;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.navbar{
    height: 7vh;
    .navbar-menu{
        height:auto;
        background-color: blue;
        .navbar-item{
            text-decoration: none;
            color: red;
            background-color: white;
            text-align: center;
            padding: 2.4vh;
            display:inline-block;
            margin-left: 1vh;
            &:hover{
                background-color: blue;
            }

        }
    }
}

.hero{
    height: $full-screen;
    width: 100%;
    background-color:$primary-color;
    .hero-body{
        padding: 40vh;
        color: #F7F7F7;
        text-align: center;
    }
  }
  .parallax{
    height: $full-screen;

}



#wrapper{
    width: 100%;
}

.columns{
    height: 65vh;
    background-color:#F7F7F7;
    width: 100%;
    display: flex;
    .column{
        height: 65vh;
        background-color:red;
        flex-grow:1;
        padding: 6vh;
        &.half{
            width: 50%;
        }
        &:nth-child(1){
            background-color:blue;
        }
        &:nth-child(2){
            background-color:green;
        }
        &.hero{
            height: $full-screen;
            background-color:$primary-color;
        }

        
        img{
            height: 55vh;
            width: auto;
            justify-content: center;
        }
    }
}



.skills{
    text-align: center;
}

footer{
    height: 65vh;
    background-color:#F7F7F7;
}
