$full-screen: 100vh;

$primary-color: black;
$white: #F7F7F7;
$mobile: 768px;
$tablet: 1024px;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    // font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    // "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-family: 'ZCOOL XiaoWei', serif;

}
body{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    
}


 .title, p{
     margin-bottom: 2vh;
 }

.section{
    padding: 4vh;
    background-color:#F7F7F7;

}


.navbar{
    height: 7vh;
    width: 100%;
    position: fixed;
    background-color: black;
    box-shadow: 0 3px 0 rgba(0,0,0,0.6);

    .navbar-menu{
        height:auto;
        .navbar-start{
            display: flex;
            .navbar-item{
                text-decoration: none;
                color: white;
                padding: 2.4vh;
                display:inline-block;
                margin-left: 1vh;
                text-align:center;

                &:nth-child(1){
                    display: none;
                }
                .burger{
                    font-size: 4vh;
                }
    
            }
        }
    }
}

.hero{
    height: $full-screen;
    width: 100%;
    background-color:$primary-color;
    background-color: black;
    .hero-body{
        // color: #F7F7F7;
        text-align: center;
        .column{
            &:nth-child(1){
                padding-top: 30vh;   
                color: white;         
            }
            // background-color: black;
        }
    }
  }
  .parallax{
    height: $full-screen;
    background-color: black;
    // background-size: cover;
    // background-image: url('https://visualcocaine.org/public/uploads/large/191512467154mhnqdac6kkbqrpewsmarmfi1uagruo1zg7lo8qxgjyaynoqgiffni5mw2tlfi8jxdpu4nq8p3idqz3hq84lwcmfjc5ibpw0dc1xz.jpg');
    // opacity: 0.4;
}




#wrapper{
    width: 100%;
    height: auto;
}
    
    .columns{
        // background-color:#F7F7F7;
        flex-grow: 1;
        display: flex;
        &.multi-column{
            flex-wrap: wrap;
        }
        .column{
            width: 100%;
            height: $full-screen;
            // padding: 12vh;

            &.half{
                flex-grow: 1;
                padding: 5vh;
            }
            .image{
                // height: 60vh;
                // width: 100%;
                height:auto;
                width: 60vh;
            }
            &.content{
                height: 70vh;
            }
            &.arrow{
                height: 20vh;
                .fas, .fab{
                    margin-top: 5vh;
                }

            }
            .skills{
                // padding: 15vh 5vh;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                .skills-icon{
                    font-size: 10vh;
                    color: black;
                    padding: 5vh;
                }
            }
        }
    }

    footer{
        text-align: center;
        color: white;
    
        // .navbar{
        //     .navbar-start{
        //         color: red;
        //         justify-content: center;
        //     }
        //     height: 20vh;
    
        // }
        .footer-icon{
            font-size: 8vh;
        }
        .columns{
            .column{
                background-color: black;
                &.content{
                    height: 60vh;
                }
    
            }
        }
    }



.arrow-down, .arrow-up{
    text-align: center;
    font-size: 10vh;
    color: white;         

}



//font-size: 10vh

// @media only screen and (max-width: $tablet) {

//   }



// @keyframes grow {
//     0%   {     font-size: 10vh; }
//     // 50%  { font-size: 12vh; }
//     100% { font-size: 12vh;}
//   }





@media only screen and (max-width: $mobile) {

    .navbar{
        height: auto;
        width: 100%;
        .navbar-menu{
            height:auto;
            
            .navbar-start{
                display: flex;
                flex-wrap: wrap;
                .navbar-item{
                    display: none;
                    text-align:center;
                    width: 100%;
                    flex-grow: 1;
                    &:nth-child(1){
                        display:inline-block;
                        text-align:center;

                    }
                }
            }
        }
    }




    .section{
        padding: 0vh !important;

    }

    .columns { 
        display: flex;
        flex-wrap: wrap;

        .column{
            height: auto;
            // padding: 0vh !important;

            .skills{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                .skills-icon{
                    font-size: 10vh;
                    color: black;
                    padding: 1.5vh !important;
                }
            }

        }

    } 
    
    
    .hero{

        .hero-body{

            .column{
                &:nth-child(1){
                    padding-top: 20vh !important;            
                }
            }
        }
      }

}



